body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html {
    font-family: "helvetica neue", sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #fff;
}
#y {
    margin-top: 622px;
}
#intro1 {
    height: 848px;
    width: 100%;
    background-image: -o-linear-gradient(263.28deg, #0098fd 0, #1029c9 100%);
    background-image: linear-gradient(186.72deg, #0098fd 0, #1029c9 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 41%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 41%);
    overflow: hidden;
}
#intro2 {
    height: 1106px;
    width: 100%;
    margin-top: -584px;
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #0756e7), color-stop(40.16%, #000), to(#000));
    background: -o-linear-gradient(#0756e7 3%, #000 40.16%, #000 100%);
    background: linear-gradient(#0756e7 3%, #000 40.16%, #000 100%);
    -webkit-clip-path: polygon(0 1%, 100% 14%, 100% 79%, 0 87%);
    clip-path: polygon(0 1%, 100% 14%, 100% 79%, 0 87%);
    overflow: hidden;
}
#intro3 {
    background-image: -o-linear-gradient(264.33deg, #2f42c2 0, #00c4ff 100%);
    background-image: linear-gradient(185.67deg, #2f42c2 0, #00c4ff 100%);
    width: 100%;
    height: 700px;
    margin-top: -431px;
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
}
#intro4 {
    background: -o-linear-gradient(265.49deg, rgba(0, 0, 0, 0.89) 0, rgba(0, 0, 0, 0.96) 73.97%, #003fef 100%);
    background: linear-gradient(184.51deg, rgba(0, 0, 0, 0.89) 0, rgba(0, 0, 0, 0.96) 73.97%, #003fef 100%);
    width: 100%;
    height: 1773px;
    overflow: hidden;
}
#intro5 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#003fef), to(#002078));
    background-image: -o-linear-gradient(top, #003fef 0, #002078 100%);
    background-image: linear-gradient(180deg, #003fef 0, #002078 100%);
    margin-top: 746px;
    width: 100%;
    height: 780px;
    overflow: hidden;
}
#rotatezeroark {
    font-size: 166px;
    color: #fff;
    margin-left: -479px;
    margin-top: 8px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: Rubik, sans-serif;
    overflow: hidden;
    width: 1213px;
    height: 302px;
    opacity: 0.11;
}
#letscode {
    opacity: 0;
    font-size: 180px;
    color: #fff;
    margin-left: 218px;
    margin-top: -344px;
    line-height: 0;
    font-family: Rubik, sans-serif;
    overflow: hidden;
}
#dev {
    float: left;
    font-family: Rubik;
    font-weight: 400;
    font-size: 100px;
    text-align: left;
    margin-top: 130px;
    margin-left: 65px;
    color: #fff;
}
#udefine {
    float: left;
    font-family: Dosis;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    color: #fff;
    margin-top: 230px;
    margin-left: -442px;
    overflow: hidden;
}
#wecan {
    opacity: 0;
    padding-top: 59px;
    width: 664px;
    height: 629px;
    font-family: Dosis;
    font-weight: 400;
    font-size: 20px;
    margin-left: 151px;
    line-height: 0;
    color: #fff;
}
#think {
    opacity: 0;
    font-family: Rubik;
    font-weight: 400;
    font-size: 133px;
    line-height: 0;
    text-align: center;
    color: #fff;
    margin-top: 779px;
    margin-left: 10px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#succ {
    font-family: Rubik;
    font-weight: 400;
    font-size: 237px;
    color: #fff;
    opacity: 0.1;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 300px;
    overflow: hidden;
    width: 1300px;
    margin-top: -279px;
    margin-right: -462px;
    float: right;
}
#from {
    float: right;
    font-size: 30px;
    color: #fff;
    font-family: Rubik;
    font-weight: 400;
    margin-top: -631px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    margin-right: -164px;
}
#input {
    opacity: 0.63;
    background-image: -o-linear-gradient(258.71deg, #421cf7 0, #08177a 100%);
    background-image: linear-gradient(191.29deg, #421cf7 0, #08177a 100%);
    font-size: 30px;
    font-family: Rubik;
    font-weight: 400;
    border-radius: 11px;
    padding-left: 20px;
    color: #fff;
    border-width: 0;
    width: 807px;
    height: 86px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#input::-webkit-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input::-moz-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input:-ms-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input::-ms-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input::placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input1 {
    opacity: 0.63;
    background-image: -o-linear-gradient(258.71deg, #421cf7 0, #08177a 100%);
    background-image: linear-gradient(191.29deg, #421cf7 0, #08177a 100%);
    font-size: 30px;
    font-family: Rubik;
    font-weight: 400;
    border-radius: 11px;
    padding-left: 20px;
    color: #fff;
    border-width: 0;
    width: 807px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#input1::-webkit-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input1::-moz-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input1:-ms-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input1::-ms-input-placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#input1::placeholder {
    font-family: Rubik;
    font-weight: 400;
    font-size: 33px;
    color: #fff;
}
#exec {
    opacity: 0.63;
    background-image: -o-linear-gradient(258.71deg, #df1cf7 0, #00c4ff 100%);
    background-image: linear-gradient(191.29deg, #df1cf7 0, #00c4ff 100%);
    border-radius: 11px;
    font-size: 30px;
    border-width: 0;
    width: 827px;
    height: 95px;
    color: #fff;
    overflow: hidden;
}
#langgrp {
    font-family: Muli;
    float: right;
    font-weight: 900;
    font-size: 128px;
    margin-top: -168px;
    text-align: right;
    margin-right: 73px;
    color: #fff;
    line-height: 0;
    opacity: 0.15;
}
#whyus {
    opacity: 0;
    font-size: 126px;
    color: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -796px;
    margin-right: 40px;
    font-family: Dosis, sans-serif;
    overflow: hidden;
}
#letscode.scrollanimation-0n,
#think.scrollanimation-0n,
#wecan.scrollanimation-0n,
#whyus.scrollanimation-0n {
    opacity: 1;
    -webkit-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
#logocircle {
    border-radius: 50%;
    border-width: 0;
    width: 408px;
    height: 373px;
    background: grey;
    float: right;
    overflow: hidden;
    margin-top: -1162px;
    margin-right: 16px;
    background-image: -o-linear-gradient(231.66deg, #8de0ff 0, #1403c3 100%);
    background-image: linear-gradient(218.34deg, #8de0ff 0, #1403c3 100%);
    -webkit-clip-path: circle(36.6% at 50% 50%);
    clip-path: circle(36.6% at 50% 50%);
}
#circle {
    background: -webkit-gradient(linear, left top, left bottom, from(#fe1515), color-stop(57.81%, #000), to(#1700ff));
    background: -o-linear-gradient(#fe1515 0, #000 57.81%, #1700ff 100%);
    background: linear-gradient(#fe1515 0, #000 57.81%, #1700ff 100%);
    -webkit-clip-path: circle(31% at 50% 50%);
    clip-path: circle(31% at 50% 50%);
    border-radius: 50%;
    margin-top: -1418px;
    width: 1500px;
    height: 1500px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: -965px;
    font-size: 108px;
    color: #fff;
    overflow: hidden;
}
#ontheway {
    height: 200px;
    width: 900px;
    margin-top: -1041px;
    font-size: 91px;
    color: #fff;
    margin-left: -337px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: Rubik, sans-serif;
    overflow: hidden;
}
#logo {
    margin-left: 20px;
    font-family: Rubik, sans-serif;
    color: #fff;
}
#navt {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    font-family: Rubik, sans-serif;
    color: #fff;
}
#logoimg {
    margin-top: 66px;
    margin-left: 87px;
    opacity: 0.94;
    width: 240px;
    height: 240px;
}
#our-process:before {
    content: " ";
    display: block;
    background: #5a58ff;
    -webkit-transform: skewY(3deg) translateZ(0);
    -ms-transform: skewY(3deg) translateZ(0);
    transform: skewY(3deg) translateZ(0);
    position: absolute;
    left: 0;
    bottom: -50px;
    overflow: hidden;
    z-index: 88;
}
#wecancont {
    font-family: Rubik;
    font-weight: 400;
    font-size: 40px;
    margin-left: 88px;
    text-align: left;
    padding-bottom: 0 !important;
    color: #fff;
}
#wecancont img{
  width: 30px;
  height: 30px;
  padding-bottom: 0 !important;
}
@media only screen and (max-width: 600px) {
    #logocircle {
        -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
        transform: scale(0.45);
        margin-right: -116px;
    }
    #dev {
        -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
        transform: scale(0.45);
        margin-left: -100px;
        margin-top: 206px;
    }
    #udefine {
        width: 570px;
        -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
        transform: scale(0.45);
        margin-top: -46px;
        margin-left: -10px;
    }
    #whyus {
        opacity: 0;
        float: right;
        width: 390px;
        font-size: 75px;
        margin-right: 41px;
        margin-top: -747px;
    }
    #wecan {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: -106px;
    }
    #wecancont {
        width: 60px;
        font-size: 64px;
        font-family: Rubik;
        font-weight: 400;
        margin-left: 40px;
        text-align: left;
          display: flex;
        color: #fff;
    }
    #wecancont img{
      width: 50px;
      height: 50px;
      padding: 10 !important;
    }
    #circle {
      display: none;
    }
    #ontheway {
        height: 200px;
        width: 900px;
        margin-top: -1096px;
        font-size: 66px;
        color: #fff;
        margin-left: -351px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-family: Rubik, sans-serif;
        overflow: hidden;
    }
    #think {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
        margin-left: -108px;
        margin-top: 86px;
        width: 634px;
    }
    #intro4 {
        height: 1059px;
    }
    #succ {
        font-family: Rubik;
        font-weight: 400;
        font-size: 218px;
        color: #fff;
        opacity: 0.1;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 300px;
        overflow: hidden;
        width: 1300px;
        margin-top: -244px;
        margin-right: -533px;
        float: right;
    }
    #letscode {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: 34px;
        margin-top: -344px;
        width: 500px;
    }
    #from {
        float: right;
        font-size: 30px;
        color: #fff;
        font-family: Rubik;
        font-weight: 400;
        margin-top: -413px;
        -webkit-transform: scale(0.38);
        -ms-transform: scale(0.38);
        transform: scale(0.38);
        margin-right: -212px;
    }
    #exec,
    #input,
    #input1 {
        width: 600px;
    }
    #langgrp {
        font-family: Muli;
        float: right;
        font-weight: 900;
        font-size: 91px;
        margin-top: -255px;
        text-align: right;
        margin-right: 12px;
        color: #fff;
        line-height: 0;
        opacity: 0.15;
    }
}
